.todolist_block .buttons {
	height: 7vh;
	min-height: 40px;
}

.count_type div:hover, .delete_selected:hover {
	cursor: pointer;
	color: grey;
}

.count_type div, .delete_selected {
	transition-duration: .2s;
}