.tasks {
	height: 35vh;
	font-size: 1.5rem;
	min-height: 150px;
}

.del_task {
	color: #fff;
	font-size: 2rem;
	transition-duration: .3s;
}

.task:hover .del_task {
	color: #F59191;
}

.task:hover .del_task:hover {
	color: red;
	cursor: pointer;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.checkbox+label::before {
	content: '';
	display: inline-block;
	width: .9em;
	height: .9em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.checkbox:checked+label::before {
	content: '';
	display: inline-block;
	width: .9em;
	height: .4em;
	border: 1px solid green;
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	margin-right: 0.5em;
	transform: rotate(-50deg);
}

.checkbox:checked + label {
	color: #D9D9DA;
	text-decoration: line-through;
}

label {
	margin: 0;
	/* width: 40vw; */
	height: 100%;
}

.task div {
	width: 100%;
	height: 100%;
}

.task label {
	width: 95%;
	height: 100%;
	/* word-wrap: break-word; */
}

.tasks label:hover {
	cursor: pointer;
}